[Unit]
Description=PPP link to %i
Before=network.target

[Service]
ExecStart=/usr/sbin/pppd call %i nodetach nolog
RemainAfterExit=no
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
